
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: Nunito, sans-serif;
    min-height: 100vh;
    width: 100vw;
    place-items: center;
    font-size: .5rem;
    background-image: url('b2.png');
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* Utilise l'image de fond du parent */
    filter: blur(10px); /* Applique un flou de 5px */
    z-index: -1; /* Place en arrière-plan */
}

@media (min-width: 440px) {
    body {
        font-size: .75rem;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 1rem;
    }
}

section {
    height: 100vh; /* Chaque section prend 100% de la hauteur de la vue */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
     /* margin: 10px 10px; Marge de 10px à gauche et à droite */
    width: calc(100% - 20px); /* 100% de la largeur moins les marges */
    max-width: 100%;
    box-sizing: border-box; /* Pour inclure les marges et les bordures dans la largeur totale */
}


.image-text {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

video {
    max-width: 100%;
    height: auto;
 border-radius: 10px;
}

.image-container {
    width: 100%;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
 border-radius: 10px;
}

h1 {
    margin: 5px;
    text-decoration: overline;
    text-align: left;
}

.item1, .item2 {
    width: 100%; 
    text-align: center; 
}

.comment-container { /* COM+suivant */
    display: flex;
    align-items: center; 
    justify-content: space-between; /* Espace entre les éléments pour qu'ils ne se chevauchent pas */
}

.item3 {
    flex: 1; /* Occupe l'espace restant pour l'input */
}

.item4 {
    margin-left: 10px; 
    text-decoration: none; 
    color: inherit;
}

p.border1, .item3.border1 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: AliceBlue;
    margin: 10px 0;
    padding: 10px;
}

/* Style pour le conteneur de chaque section */
.section-container {
    border: 2px solid #ADD8E6; /* Bordure bleu pâle */
    background-color: rgba(169, 204, 227, 0.5);
    padding: 2px; /* Espace entre le contenu et la bordure */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre portée pour l'effet de profondeur */
    border-radius: 10px; /* Arrondir les coins */
    margin: 20px auto; /* Espace autour de la section et centrage horizontal */
    display: block; /* Pour que la largeur s'ajuste au contenu */
 max-width: calc(100% - 20px); /* La largeur maximale est 100% moins 20px (10px de chaque côté) */
width: auto;
}

/* Variables CSS communes */
:root {
    --yellow: #ffd100;
    --orange: #ff6a13;
    --darkGray: #53565a;
    --midGray: #888b8d;
    --white: #fff;
    --roundness: 1.25em;
}

/* Style pour le bouton cœur */
*, *:after, *:before {
    box-sizing: border-box;
    color: var(--darkGray);
}

.heart {
  width: 100px;
  height: 100px;
  background: url("heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

/* Réduction de l'écart entre le bouton heart et le slider */
.placement {
    margin-bottom: -40px;
    margin-top: -40px;
}

/* Style commun pour tous les sliders */
.slider-form {
    padding: 1rem 2rem 2rem; /* Réduit le padding supérieur du slider */
    margin-bottom: -40px;
    margin-top: -40px;
    display: grid;
    justify-content: stretch;
    width: 100%;
    max-width: 37.5em;
    margin: auto;
}

.slider-form input {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0;
    height: calc(var(--roundness) * 2);
    cursor: pointer;
}

.slider-form input:focus + .outer {
    box-shadow: 0 0 0 0.1em var(--white), 0 0 0 0.2em var(--orange);
}

.slider-form > label {
    width: 100%;
    margin: auto;
    font-size: 1.5em;
    padding: 0 0 0.5em;
}

.slider-form .outer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    border-radius: var(--roundness);
    margin: auto;
    height: calc(var(--roundness) - 0em);
    background: var(--midGray);
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.slider-form label.inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--white);
    border-top-left-radius: var(--roundness)!important;
    border-bottom-left-radius: var(--roundness)!important;
    transition: all .15s cubic-bezier(0.5, 0.4, .2, 1);
    transform-origin: left;
}

.slider-form .emoji {
    margin-left: -.2em;
    display: inline-block;
    width: 0.7em;
    height: 1em;
    transition: all .15s cubic-bezier(0.5, 0.4, .2, 1);
    border-radius: var(--roundness);
    text-align: right;
    font-size: calc(var(--roundness) * 2);
    line-height: 1.1;
}
